@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(31, 41, 69);
}

Button {
  @apply bg-slate-200 text-sm hover:font-semibold py-2 px-3 rounded-lg;
}

h1 {
  @apply text-2xl text-white font-bold;
}
